<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.mybatis.mapper.CardMapper">
		<resultMap type="card" id="cardMap">
			<id property="id" column="id"/>
			<result property="password" column="password" javaType="String" jdbcType="VARCHAR"/>
			<result property="surplus" column="surplus" javaType="BigDecimal" jdbcType="DECIMAL"/>
		</resultMap>
		<select id="findCardByCardId" parameterType="int" resultMap="cardMap">
			select id, password, surplus from t_card where id=${cardId}
		</select>
</mapper>