<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.mybatis.mapper.PostMapper">
 		<!-- 开启缓存, eviction=回收算法, flushInterval=刷新缓存间隔时间, size=缓存中对象个数,readOnly=只读-->
		<cache eviction="LRU" flushInterval="100000" size="1024" readOnly="true" />
		<!-- 自定义缓存设置 
		<cache type="com.mybatis.cache.MyCache">
			<property name="host" value="localhost"/>
			<property name="port" value="8080"/>
		</cache> -->
		
		<!-- 自定义缓存中: 定制SQL执行缓存策略(useCache是否需要使用缓存, flushCache插入后是否需要刷新缓存)
			<select id="findPostVOByPostId" parameterType="int" resultMap="postVOResult"
						flushCache="false" useCache="true">
		 -->
		<select id="findPostVOByPostId" parameterType="int" resultMap="postVOResult">
			select 
				p.id as p_id, 
				p.name as p_name, 
				p.content as p_content,
				p.author_id as author_id
			from t_post p where p.id=${postId}
		</select>
		
		<resultMap type="PostVO" id="postVOResult">
			<id property="id" column="p_id"/>
			<result property="name" column="p_name" javaType="string" jdbcType="VARCHAR"/>
			<result property="content" column="p_content" javaType="string" jdbcType="VARCHAR"/>
			<!-- 方法1：使用resultMap实现联合 
			<association property="author" column="p_author_id" javaType="Author"> 
				<id property="id" column="a_id"/>
				<id property="name" column="a_name"/>
			</association>
			 -->
			 <!-- 方法2: 使用 select 实现联合, 推荐使用这种方法 --> 
			 <association property="author" column="author_id" 
			 	select="com.mybatis.mapper.AuthorMapper.findAuthorById" fetchType="lazy"/> 
			 	<!-- fetchType=eager表即时加载, =lazy表延迟加载 -->
		</resultMap>
		
		<select id="findPostlistByAuthorId" parameterType="int" resultMap="postResult">
			select 
				p.id as p_id, 
				p.name as p_name, 
				p.content as p_content 
			from t_post p where p.author_id = #{authorId}
		</select>
		<resultMap type="Post" id="postResult">
			<id property="id" column="p_id"/>
			<result property="name" column="p_name" javaType="string" jdbcType="VARCHAR"/>
			<result property="content" column="p_content" javaType="string" jdbcType="VARCHAR"/>
		</resultMap>
</mapper>