<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.mybatis.mapper.StudentMapper">
		<resultMap type="student" id="stuMap">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
			<!-- card 是 Student类的属性, id 是 card 表的主键, select 是调用的CardMapper类的方法 -->
			<association property="card" javaType="card" column="stu_id" select="findCardByStuId" />
		</resultMap>
		<select id="findStudentByStuId" parameterType="int" resultMap="stuMap">
			select id, name from t_student where id=${stuId}
		</select>
</mapper>